pymilvus==1.1.2
pandas==0.25.1 
paddlenlp>=2.3.4    
paddlepaddle-gpu>=2.3.0
hnswlib>=0.5.2
numpy>=1.22.2
visualdl>=2.2.2
paddle-serving-app>=0.7.0        
paddle-serving-client>=0.7.0        
paddle-serving-server-gpu>=0.7.0.post102
pybind11
grpcio>=1.53.2 # not directly required, pinned by Snyk to avoid a vulnerability
opencv-python>=4.8.1.78 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability