nvgpu>=0.9.0
regex>=2021.11.10
spacy>=2.3.7
tqdm>=4.62.3
visualdl>=2.2.2
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
flask>=2.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
